---
sinks:
  to_clickhouse:
    compression: gzip
    database: {{ clickhouse_database }}
    endpoint: {{ clickhouse_host }}
    healthcheck:
      enabled: false
    inputs:
      - our_log
    skip_unknown_fields: true
    table: {{ clickhouse_table }}
    type: clickhouse

sources:
  our_log
    ignore_older_secs: 600
    include:
      - /home/ubuntu/logs/*.log
    read_from: beginning
    type: file
